* {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* logo 최상단 div */
.logo {
  height: 120px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

a {
  text-decoration-line: none;
}

.logo-text {
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 45px;
  color: white;
  background-color: transparent;
}

.logo-text:hover {
  cursor: pointer;
  object-fit: cover;
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* movie 최상단 div */
.movie {
  width: 900px;
  height: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: transparent;
}

.movie-poster {
  background-color: whitesmoke;
  height: 80%;
  width: 40%;
}

.movie-info {
  background-color: whitesmoke;
  height: 80%;
  width: 40%;
}

/* 리뷰 최상단 div */
.review {
  background-color: transparent;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.review-title {
  color: white;
  background-color: transparent;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3% 20%;
}

.review-title-text {
  font-size: 30px;
}

.review-total-number {
  margin: 0 20px;
  font-size: 25px;
}

/* 리뷰 입력창 담는 div */
.review-write-box {
  width: 55%;
  height: 150px;
  margin: 0 auto;
  border-radius: 25px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.review-head {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  width: 170px;
  padding: 3% 2%;
}

.star-container {
  background-color: transparent;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.star-label {
  background-color: transparent;
  width: 30px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
}

.star-radio {
  display: none;
}

.star-icon {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
  background-color: transparent;
  background-image: url("https://velog.velcdn.com/images/jellykelly/post/9957327f-f358-4c25-9989-5bb3dd5755d6/image.svg");
}

.fill {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: block;
  background-color: transparent;
  background-image: url("https://velog.velcdn.com/images/jellykelly/post/10caf033-b0ef-4d58-804b-6e33395e4ea5/image.svg");
}

.review-name {
  background-color: transparent;
  border-radius: 50px;
  font-size: 18px;
  padding: 3% 12%;
  color: white;
  margin: 4% 3%;
  height: 40%;
  border: 2px solid white;
}

.review-name:focus,
.review-name:hover {
  outline: none;
  background-color: rgb(155, 155, 155);
  border: 2px solid rgb(155, 155, 155);
}

.review-comment {
  padding: 2% 3%;
  border-radius: 20px;
  color: white;
  font-size: 18px;
  border: 2px solid white;
  font-weight: 300;
  resize: none;
}

.review-comment:focus,
.review-comment:hover {
  outline: none;
  background-color: rgb(155, 155, 155);
  border: 2px solid rgb(155, 155, 155);
}

.review-btn {
  height: 70%;
  width: 15%;
  border: 2px solid white;
  color: white;
  border-radius: 20px;
  background-color: transparent;
  font-size: 20px;
  margin: 0 30px;
}
.review-btn:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}

/* 리뷰 list 담는 div */
.review-list-box {
  width: 52%;
  height: 500px; /*임의 값이에요!*/
  background-color: transparent;
  margin: 0 auto;
  padding: 2% 3%;
}

.review-item {
  width: 100%;
  height: 150px;
  margin: 30px 0;
  border-radius: 20px;
  background-color: gray;
}

/* 모달 창 */
.password {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1000;
}

.password.active {
  display: flex;
}

.modal {
  position: absolute;
  max-width: 400px;
  width: 100%;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  background-color: white;
  border-radius: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal > p {
  background-color: transparent;
  font-size: 32px;
  margin: 10px 0;
  font-weight: 600;
}

.modal > input {
  width: fit-content;
  height: fit-content;
  font-size: 20px;
  padding: 3% 10%;
  background-color: rgb(224, 224, 224);
  border-radius: 30px;
  border: transparent;
  margin: 30px 0;
}

.modal > input:focus {
  outline: none;
}

.modal > button {
  color: white;
  padding: 3% 6%;
  font-size: 17px;
  border: transparent;
  border-radius: 30px;
  width: fit-content;
  margin-left: auto;
}

.modal > button:hover {
  background-color: rgb(82, 82, 82);
  color: white;
}
